body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.cover{
  height: 100vh;
  width: 100%;
  position: fixed;
  background-image: url('../media/img/geometric-leaves.png');
  background-repeat:repeat;
}
.about-sec{
  position: fixed;
  background-image: url('../media/img/sakura.png');
  background-repeat:repeat;
}
.team-sec{
  position: fixed;
  background-image: url('../media/img/pink\ dust.png');
  background-repeat:repeat;
}
.faq-sec{
  position: fixed;
  background-image: url('../media/img/random_grey_variations.png');
  background-repeat:repeat;
}
.section-pad{
  padding-top: 0;
}

#slit-right{
  width:100%;
  height:80px;
  top: 0;
  background-repeat:repeat;
  background-position:bottom;
  clip-path:polygon(100% 0%, 100% 20%, 0 100%, 0 0);
}

#slit-right-up{
  width:100%;
  height:80px;
  clip-path:polygon(100% 80%, 100% 100%, 0 100%, 0 0);
}
#slit-tilt{
  width:100%;
  height:80px;
  position: relative;
  clip-path:polygon(0 100%, 0 80%, 20% 60%, 90% 60%, 90% 80%, 20% 80%);
}
#slit-tilt-rev{
  width:100%;
  height:80px;
  position: relative;
  clip-path:polygon(100% 100%, 100% 80%, 80% 60%, 10% 60%, 10% 80%, 80% 80%);
}
#slit-parallel{
  width:100%;
  height:80px;
  clip-path:polygon(80% 0%, 80% 20%, 20% 100%, 20% 80%);
}
#slit-left{
  width:100%;
  height:80px;
  top: 0;
  background-repeat:repeat;
  background-position:bottom;
  clip-path:polygon(100% 0%, 100% 100%, 0 20%, 0 0);
}
#slit-left-up{
  width:100%;
  height:80px;
  top: 0;
  background-repeat:repeat;
  background-position:bottom;
  clip-path:polygon(100% 0%, 100% 100%, 0 100%, 0 80%);
}
#slit-left-1{
  width:100%;
  height:60px;
  top: 0;
  position: inherit;
  background-repeat:repeat;
  background-position:bottom;
  clip-path:polygon(100% 0%, 100% 100%, 0 20%, 0 0);
}
#slit-left-2{
  width:100%;
  height:60px;
  top: 0;
  background-repeat:repeat;
  background-position:bottom;
  position: absolute;
  clip-path:polygon(100% 30%, 100% 95%, 0 10%, 0 0);
}
#slit-left-3{
  width:100%;
  height:60px;
  top: 0;
  background-repeat:repeat;
  background-position:bottom;
  position: absolute;
  clip-path:polygon(100% 60%, 100% 90%, 0 0, 0 0);
}
#myVideo {
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}
main {
  flex: 1 0 auto;
}
.anim{
  -webkit-animation: mover 2s infinite  alternate;
  animation: mover 2s infinite  alternate;
}
.load{
  border: 2px;
  border-radius: 50%;
  border-top: 2px solid #3498db;
  -webkit-animation: spin 1s linear infinite; /* Safari */
  animation: spin 1s linear infinite;
  
}
.load2{
  border: 2px;
  border-radius: 50%;
  border-top: 2px solid #dbd034;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}
.load3{
  border: 2px;
  border-radius: 50%;
  border-top: 2px solid #ee3737;
  -webkit-animation: spin 0.7s linear infinite; /* Safari */
  animation: spin 0.7s linear infinite;
}
.load4{
  border: 2px;
  border-radius: 50%;
  border-top: 2px solid #1cb83d;
  -webkit-animation: spin 1.5s linear infinite; /* Safari */
  animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
@-webkit-keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-20px); }
}
@keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-20px); }
}
#maintxt{
  margin-top : 0;
  margin-bottom: 10px;
  font-size: 45px;
}
.labeltxt{
  font-size: 20px;
}
nav ul a,
nav .brand-logo {
  color: wheat;
}
a.anchor {
  display: block;
  position: relative;
  top: -60px;
  visibility: hidden;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  color: rgba(255,255,255,.9);
}
#inmain{
  content: '';
  background: transparent url(../media/img/pattern.png) repeat top left;
  background-color:rgba(0, 0, 0, 0.5);
  height: 100vh;
}
@media only screen and (max-width : 992px) {
  
}

@media only screen and (max-width : 600px) {
  #maintxt{
    font-size: 30px;
  }
  .labeltxt{
    font-size: 18px;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
